-- AlterTable
ALTER TABLE "disciplines" DROP COLUMN "deleted_at",
DROP COLUMN "deleted_by",
DROP COLUMN "isDeleted";

-- AlterTable
ALTER TABLE "topics" DROP COLUMN "deleted_at",
DROP COLUMN "deleted_by",
DROP COLUMN "isDeleted";

-- AlterTable
ALTER TABLE "cycles" DROP COLUMN "deleted_at",
DROP COLUMN "deleted_by",
DROP COLUMN "isDeleted";

